<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="path/to/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>
<body th:style="'background:url(/bac-white.jpg);no-repeat; background-size: cover;'" onLoad="scrollTo(0,10)">
<!-- header -->

<div th:replace="site/header::header"></div>

<!-- header -->

<!-- main -->


<div class="container-fluid">
    <div class="row-fluid ">
        <div style="font-size:18px;font-weight:500;font-family: 楷体!important;width: 300px;float: left;">
            <section class=" ">
                <article role="pge-title-content">
                    <div class="order row">
                        <span class="line"></span>
                        <span class="txt">My Style</span>
                        <span class="line"></span>
                    </div>
                    <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隐约雷鸣，</p>
                    <p>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;但盼风雨来，</p>
                    <p>   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;能留你在此；</p>
                    <p>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 隐约雷鸣，</p>
                    <p>  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;阴霾天空，</p>
                    <p>   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;即使天无雨，</p>
                    <p>   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;我亦留此地</p>
                    <p class="right aligned">    by 言叶之庭</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </article>
            </section>
        </div>
        <div class="span6 col-xs-12 col-sm-12 col-md-8 col-lg-5 col-lg-offset-3"style="margin-left: 5%" >
            <div class="swiper-container " style="width: 800px; " >
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    <img src="http://chenval.chenval.com/upload/2019/09/2l9knldp8qgm2oqc9ukdnri4hm.jpg" style="height: 500px;width:auto">
                    <div class="carousel-caption">
                        <h4>
                            我想，我喜欢上你了
                        </h4>
                        <p>
                            回望当初 那时我一定也一直在训练自己迈步，如果有一天，能够更稳、更远了，就去见她吧。
                        </p>
                    </div>
                </div>
                    <div class="swiper-slide">
                        <img src="http://chenval.chenval.com/upload/2019/09/tou5hf2lfejivprt7cs2rqb329.jpg" alt="" style="height: 500px;width:auto;" >
                        <div class="carousel-caption">
                            <h4>
                                格蕾亲亲~
                            </h4>
                            <p>
                                Gray暗くて……Rave浮かれて……Crave望んで……Deprave堕落させて……」
                                <br>
                                「Grave刻んで……me私に……」
                                <br>
                                「Grave墓を掘ろう……、for youあなたに……」
                                <br>
                                圣枪，拔锚!Holy spear, anchor!——于尽头闪耀之枪Rhongomyniad!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://chenval.chenval.com/upload/2019/09/2r3bdn384ig14ppevcb5t9o72r.jpg" alt=""style="height: 500px;width:auto">
                        <div class="carousel-caption">
                            <h4>
                                贞德 alter
                            </h4>
                            <p>
                                倘若神存在的话，
                                想必会对我降下天罚吧———
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="siyue.jpg" alt=""style="height: 500px">
                        <div class="carousel-caption">
                            <h4>
                                四月は君の嘘
                            </h4>
                            <p>
                                此生无悔入四月，来世愿做友人A
                            </p>
                            <p>
                                我喜欢的动漫
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="timg0.jpg" alt=""style="width: 100%">
                        <div class="carousel-caption">
                            <h4>
                                saber lily
                            </h4>
                            <p>
                                我最喜欢的动漫角色之一，Fate世界里面的骑士王亚瑟
                            </p>
                        </div>
                    </div>

                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <h3 class="text-center">
                关于本站站长
            </h3>
            <blockquote>
                <p>
                    关于本站的开发
                </p>
                <p>
                    <span>我是一名在校大学生在浏览网上相关资料以及GitHub一些优秀的开源项目后，试着做出了这个网站</span>
                </p>
                <p>
                    <span>想知道详细信息请砖移步<a href="/aboutSite">本站信息</a></span>
                </p>
            </blockquote>

            <p style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                我是一名典型的宅大学生，爱玩游戏，爱看动漫，爱看书，也爱学习。在来到大学，迷茫一段时间后。发现自己不能这么放纵自己。于是乎开始了自己的JavaWeb学习之旅。
            </p>
            <p style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                在真正系统学习JavaWeb前，我不知道以后的学习方向，我几乎是什么都学什么深度学习，游戏开发，算法，安卓开发等等。我都有接触过。一来二去时间浪费了不少，学也没学到什么。我开始慌了，最终确定了后端学习方向。时间也来到大二下学期了。在学习到一定程度后我就用所学知识，加上借鉴网上相关项目我做出了这个网址。
            </p>
            <p style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                除了学习之外，游戏是必不可少的。知乎上有个问题很火《游戏还是女朋友重要》，那当然是游戏啊！你想想游戏没了你还可以再下载，女朋友没了就
            </p>




            <p style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                没人打扰你打游戏了 <span>(๑•ㅂ•́)و✧</span>
            </p><img alt="" src="goutou.jpg"width="50px" />
            <h3>
                <strong>游戏</strong>
            </h3>
            <p style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                实际上，对我来说游戏是生活的调味品。一些剧情优秀的游戏作品带给我的感触不必优秀的文学作品少。我网游玩（lol，dnf）手游也玩（FGO 安B服100120865554你懂得）主机也玩（steam。就不说有哪些了）但是游戏于我而言，只是放松的。我不会再游戏投入太多时间以至于耽误自己的正事。
            </p>
            <h3>
                <strong>游戏</strong>
            </h3>
            <p style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                实际上，对我来说游戏是生活的调味品。一些剧情优秀的游戏作品带给我的感触不必优秀的文学作品少。我网游玩（lol，dnf）手游也玩（FGO 安B服100120865554你懂得）主机也玩（steam。就不说有哪些了）但是游戏于我而言，只是放松的。我不会再游戏投入太多时间以至于耽误自己的正事。
            </p>

            <h3>
                <strong>动漫</strong>
            </h3>
            <p style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                除了游戏以外，我的其他兴趣就在于动漫了。优秀的动漫让我仿佛去了另外一个世界旅游，仿佛里面的一个个人物就活在我面前。四月是你的谎言，Clanned，Fate系列，火影，魔禁系列，新海诚的作品，京都的作品等等，带给我的感动与感触是几句话说不完的。
            </p>

            <h3>
                <strong>品书</strong>
            </h3>
            <p style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                除了动漫以外看书也是我的爱好，说来惭愧。到了大学之后只读了不到20本书，大学读书的时间已经很少了，如果有时间我还是愿意坐下来静静品读一本书。读书的过程，让我的心灵得到净化，让我在这繁华却劳累的世界得到短暂的休憩。
            </p>
            <h3>
                恋爱
            </h3>
            <div style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                在大学期间有过一段恋爱，但是因为个性，三观等问题最终和平分手了。对于现在的我来说，虽然和朋友一起调侃什么时候脱单，找哪个院的妹子。但是自己现在却没有打算。现在的重心还是在学习技能找工作上面。如果遇到心动的女生再说吧。一切暂时随缘。
            </div>

            <h3 style="font-family: 宋体;font-size: 15px;font-weight: 900 ;!important;">
                先写到这吧，有空更新
            </h3>
        </div>
    </div>
</div>
<!-- main -->

<!-- footer -->
<div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>

</body>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay:{
            stopOnLastSlide:true,
            delay:2500,
            disableOnInteraction: false,
        },


    })
</script>
<style type="text/css">

    a:hover,a:focus{
        text-decoration: none;
        outline: none;
    }
    .order {
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
    .order .line {
        display: inline-block;
        width: 80px;
        border-top: 3px solid #8ad5c5;
    }
    .order .txt {
        color: #555;
        vertical-align: middle;
    }


</style>


</html>